{% extends 'base.html.twig' %}
{% trans_default_domain "BlogTrans" %}
{% block title %}{{ "chapter.show.title"| trans({"%chapterNumber%": chapter.number}) }}{% endblock %}
{% block body %}
    <div style="padding-top: 100px;">
        <h1 class="text-center m-auto">N°{{ chapter.number }} - {{ chapter.title }}</h1>
        {% for post in chapter.posts %}
            <a href="{{ path('post_show', {'id': post.id}) }}" class="text-decoration-none text-black">
                <div class="shadow p-3 m-5 bg-white rounded scale">
                    <h3 class="section-heading"> {{ post.title }}</h3>
                    <p>{{ post.content  | raw}}</p>
                    <br>
                    <p>
                        <em>Chapitre <b> {{ chapter.number }}</b></em>
                    </p>
                    <br>
                    <a class="text-decoration-none" href="{{ path('post_show', {"id": post.id}) }}">
                        <em>{{ post.comments ? post.comments.count }} {{ "comment.comment"| trans }}{{ post.comments.count>1 ? "s" }}</em>
                    </a>
                    <div style="text-align: right; margin-right: 20px"><em>{{ post.createdAt|date("d / m / Y") }}</em></div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}


