{% extends 'admin/layout/_form_template.html.twig' %}
{% trans_default_domain "BlogTrans" %}
{% block form_title %}{{ "post.new.title"| trans }}{% endblock %}

{% block form_content %}
    {{ form_start(form) }}

    <div class="my-4">
        {{ form_widget(form.title) }}
    </div>
    <div class="my-4">
        <div class="border-bottom w-50 fw-bold">
            {{ form_label(form.chapter) }}
        </div>
        {{ form_widget(form.chapter) }}
    </div>
    <div class="my-4">
        {{ form_widget(form.content) }}
    </div>
    <div class="my-4">
        <div class="border-bottom w-50 fw-bold">
            {{ form_label(form.imageFile) }}
        </div>
        {{ form_widget(form.imageFile) }}
    </div>
    <div class="my-3 d-flex">
        <div class="border-bottom fw-bold">
            {{ form_label(form.enabled) }}
        </div>
        {{ form_widget(form.enabled) }}
    </div>
    <div class="my-4">
        <div class="border-bottom w-50 fw-bold">
            {{ form_label(form.created_at) }}
        </div>
        {{ form_widget(form.created_at) }}
    </div>
    <div class="my-4">
        {% block form_button %}
            <button type="submit" class="btn btn-success">{{ "global.text.button.save"| trans }}</button>
        {% endblock %}
    </div>
    {{ form_end(form) }}
{% endblock %}

