{% trans_default_domain "BlogTrans" %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top justify-content-around bg-opacity-50 bg-dark py-1">
    <div class="title d-flex align-items-center my-auto">
        <a class="navbar-brand text-white" href="/">Billet simple pour l'Alaska</a>
    </div>
    <div class="menu">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse w-100" id="navbarResponsive">
            <ul class="navbar-nav ml-auto d-flex justify-content-around">
                <li class="nav-item">
                    {% if is_granted("ROLE_USER") %}
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('admin_home') }}"
                       class="btn btn-primary">{{ "global.text.button.admin"| trans }}</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn btn-primary btn-sm text-white mx-2" href="#"
                       id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ "global.text.menu" | trans }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"
                               href="{{ path('admin_post_index') }}">{{ "global.text.post" | trans }}</a></li>
                        <li><a class="dropdown-item"
                               href="{{ path('admin_chapter_index') }}">{{ "global.text.chapter" | trans }}</a></li>
                        <li><a class="dropdown-item"
                               href="{{ path('admin_comment_index') }}">{{ "global.text.comment" | trans }}</a></li>
                        <li><a class="dropdown-item"
                               href="{{ path('admin_user_index') }}">{{ "global.text.user" | trans }}</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}"
                       class="nav-link btn btn-danger btn-sm text-white">{{ "global.text.button.logout"| trans }}</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}"
                           class="nav-link opacity-75 btn btn-primary btn-sm text-white mx-1">{{ "global.text.button.connexion"| trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_register') }}"
                           class="nav-link opacity-75 btn btn-primary btn-sm text-white mx-1">{{ "global.text.button.register"| trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
